<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <!--Header Nav Bar-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!--Logo/Home Button-->
                <a class="navbar-brand" href="@Url.Action("Home", "Admin")">
                    <img src="~/Images/Home/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo of Versent">
                    Mask-Off, Mask On
                </a>
                <!--Expand and Collpase for smaller screens-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Nav Bar items-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="@Url.Action("Home", "Admin")">Home</a>
                        <a class="nav-item nav-link" href="@Url.Action("Cameras", "Admin")">Cameras</a>
                        <a class="nav-item nav-link" href="@Url.Action("Contacts", "Admin")">Contacts</a>
                        <a class="nav-item nav-link" href="@Url.Action("Analytics", "Admin")">Analytics</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!--Add crumb trail when not on home page-->

    <!--TODO: Clean-up Code-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>