@using Microsoft.AspNetCore.Identity
@using C200_Web_Application___Identity.Areas.Identity.Data

@inject SignInManager<WebAppUser> SignInManager
@inject UserManager<WebAppUser> UserManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-item nav-link" href="@Url.Action("Dashboard", "Admin")">Dashboard</a>
        <a class="nav-item nav-link" href="@Url.Action("Cameras", "Admin")">Cameras</a>
        <a class="nav-item nav-link" href="@Url.Action("Contacts", "Admin")">Contacts</a>
        <a class="nav-item nav-link" href="@Url.Action("Analytics", "Admin")">Analytics</a>
    }
    else
    {
        <a class="nav-item nav-link" href="@Url.Action("Index", "Home")">Home</a>
        <a class="nav-item nav-link" href="@Url.Action("About", "Home")">About</a>
        <a class="nav-item nav-link" href="@Url.Action("Services", "Home")">Services</a>
        <a class="nav-item nav-link" href="@Url.Action("Contact_Us", "Home")">Contact Us</a>
    }
</div>