@using Microsoft.AspNetCore.Identity

<div class="navbar-nav">
    @if (User.Identity.IsAuthenticated && !this.User.IsInRole("SU"))
    {
        <a class="nav-item nav-link" href="@Url.Action("Dashboard", "Admin")">Dashboard</a>
        <a class="nav-item nav-link" href="@Url.Action("Cameras", "Admin")">Cameras</a>
        <a class="nav-item nav-link" href="@Url.Action("Contacts", "Admin")">Contacts</a>
        <a class="nav-item nav-link" href="@Url.Action("Analytics", "Admin")">Analytics</a>
        <a class="nav-item nav-link" href="@Url.Action("FileDirectory", "Admin")">File Directory</a>
    }
    else if (!User.Identity.IsAuthenticated)
    {
        <a class="nav-item nav-link" href="@Url.Action("Index", "Home")">Home</a>
        <a class="nav-item nav-link" href="@Url.Action("About", "Home")">About</a>
        <a class="nav-item nav-link" href="@Url.Action("Services", "Home")">Services</a>
        <a class="nav-item nav-link" href="@Url.Action("Contact_Us", "Home")">Contact Us</a>
    }
    else if (User.Identity.IsAuthenticated && this.User.IsInRole("SU"))
    {
        <a class="nav-item nav-link" href="@Url.Action("Users", "Admin")">Users</a>
        <a class="nav-item nav-link" href="@Url.Action("Organisations", "Admin")">Partners</a>
    }
</div>