@{
    ViewData["Title"] = "Contacts | Admin";
}
@model List<SDA>

<main>
    <div>
        <h1 class="ms-auto"><a asp-controller="Admin" asp-action="Contacts">Contacts</a> - @TempData["Location"]</h1>
        <input class="form-control me-auto col-md-4" type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search SDAs">
    </div>
    <hr />
    <table class="table table-responsive" id="mainTable">
        @{
            <tr>
                <!--Table Head-->
                <th>Officer ID</th>
                <th>Name</th>
                <th>Contact No.</th>
                <th>DOB</th>
            </tr>
            foreach (SDA sda in Model)
            {
                <tr class="tab-content">
                    <!--Table Content-->
                    <td>@sda.Officer_id</td>
                    <td><a asp-controller="Admin" asp-action="EditContact" asp-route-id="@sda.Officer_id"></a>@sda.Name</td>
                    <td>@sda.Contact_no</td>
                    <td>@string.Format("{0:dd-MM-yyyy}", @sda.Dob)</td>
                </tr>
            }
        }

    </table>
</main>