@model Contact_Package

@{
    ViewData["Title"] = "Create Contact | Admin";
}

<script language="javascript">
    $(document).ready(function () {
        //Date Picker
        $('#DatePicker')
            .datetimepicker({ format: 'YYYY-MM-DD' });
    });
</script>

<h1>Create Contact</h1>
<form method="post">
    <div class="form-group row">
        <!--ID Input - Disabled-->
        <label asp-for="contact.Officer_id" name="Id" disabled hidden class="col-md-2 col-form-label">Officer ID :</label>
        <div class="col-md-8">
            <input asp-for="contact.Officer_id" disabled hidden class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <!--Name Input-->
        <label asp-for="contact.Name" name="Name" class="col-md-2 col-form-label">Name :</label>
        <div class="col-md-8">
            <input asp-for="contact.Name" class="form-control" />
            <span asp-validation-for="contact.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <!--Contact No. Input-->
        <label asp-for="contact.Contact_no" name="Contact_no" class="col-md-2 col-form-label">Contact No. :</label>
        <div class="col-md-8">
            <input asp-for="contact.Contact_no" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <!--Contact No. Input-->
        <label class="control-label col-sm-2" asp-for="contact.Dob">Date of Birth :</label>
        <div class="col-sm-5">
            <div class="input-group date" id="DatePicker" data-target-input="nearest">
                <input type="text" asp-for="contact.Dob" class="form-control" />
                <div class="input-group-append"
                     data-target="#DatePicker" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!--TODO: Add Location, Organisation and Notification choosers via dropdown menus.-->
    <div class="form-group row">
        <!--Location Input-->
        <label class="control-label col-sm-2" asp-for="contact.Location_Location_id">Location :</label>
        <div class="col-sm-5">
            <select class="form-control" asp-for="contact.Location_Location_id">
                @{
                    foreach (Location_Data location in @Model.contactData.locationData)
                    {
                        <option value="@location.Location_id">@location.Location_name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <!--Organisation Input-->
        <label class="control-label col-sm-2" asp-for="contact.Organisation_Organisation_id">Organisation :</label>
        <div class="col-sm-5">
            <select class="form-control" asp-for="contact.Organisation_Organisation_id">
                @{
                    foreach (Organisation_Data org in @Model.contactData.orgData)
                    {
                        <option value="@org.Organisation_id">@org.Company_name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <!--Notification Input-->
        <label class="control-label col-sm-2" asp-for="contact.Notification_Notification_id">Notification ID :</label>
        <div class="col-sm-5">
            <select class="form-control" asp-for="contact.Notification_Notification_id">
                @{
                    foreach (Notification_Data noti in @Model.contactData.notiData)
                    {
                        <option value="@noti.Notification_id">@noti.Notification_id</option>
                    }
                }
            </select>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row btn-toolbar">
        <div class="col-md-1 btn-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="col-md-1 btn-group">
            <a asp-controller="Admin" asp-action="Contacts" class="btn-primary btn">Cancel</a>
        </div>
    </div>


</form>