@model Organisation

@{
    ViewData["Title"] = "Edit Partners | Admin";
}

<h1>Edit Details</h1>
<form method="post"
      asp-controller="Admin"
      asp-action="EditOrganisation">

    <div class="form-group row">
        <div class="offset-sm-2"><h2>Edit Partner's Details' - @Model.Organisation_id</h2></div>
    </div>

    <div class="form-group row">
        <!--organisation_id-->
        <label asp-for="Organisation_id" name="organisation_id" class="col-md-2 col-form-label">Organisation ID :</label>
        <div class="col-sm-5">
            <input type="text" asp-for="Organisation_id" class="form-control" value="@Model.Organisation_id" readonly />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Organisation_id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--company_name-->
        <label asp-for="Company_name" name="company_name" class="col-md-2 col-form-label">Company Name :</label>
        <div class="col-sm-5">
            <input type="text" asp-for="Company_name" class="form-control" value="@Model.Company_name" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Company_name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--email_address-->
        <label asp-for="Email_address" name="email_address" class="col-md-2 col-form-label">Email Address :</label>
        <div class="col-sm-5">
            <input type="text" asp-for="Email_address" class="form-control" value="@Model.Email_address" />
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Email_address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <!--description-->
        <label asp-for="Description" name="description" class="col-md-2 col-form-label">Description :</label>
        <div class="col-sm-5">
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="col-sm-4">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-5">
            <input type="submit" value="Update" class="btn btn-primary" /><br />
        </div>
    </div>

    @if (ViewData["Error_msg"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-5">
                <div class="alert alert-@ViewData["Error_type"]">
                    @ViewData["Error_msg"]
                </div>
            </div>
        </div>
    }

</form>