@model List<Organisation>

@{
    ViewData["Title"] = "Our Partners List | Admin";
}

<h1>Our Partner List</h1>
<a class="btn btn-primary" asp-controller="Admin" asp-action="CreateOrganisation">Add New Partner</a>

<table class="table table-condensed table-hover">
    <tr>
        <th>Organisation ID</th>
        <th>Company Name</th>
        <th>Email Address</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    @foreach (Organisation organisation in Model)
    {
        <tr>
            <td>@organisation.Organisation_id</td>
            <td>@organisation.Company_name</td>
            <td>@organisation.Email_address</td>
            <td>@organisation.Description</td>

            <td>
                <a asp-controller="Admin"
                   asp-action="EditOrganisation"
                   asp-route-id="@organisation.Organisation_id">
                    Edit
                </a> |

                <a asp-controller="Admin"
                   asp-action="DeleteOrganisation"
                   asp-route-id="@organisation.Organisation_id"
                   onclick="return confirm('Delete Partner [@organisation.Organisation_id - @organisation.Company_name]')">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>

@if (TempData["Error_msg"] != null)
{
    <div class="alert alert-@TempData["Error_type"]">
        @TempData["Error_msg"]
    </div>
}